<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />

  <title>Sign Up</title>
</head>
<body class="page2">
  <section class="header">
  <%- include('../partials/_navbar.ejs') %> 
  <div class="signup-box">
     <h1 class="page2" ></h1>Create a new account!</h1>
  <form action="/auth/sign-up" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required />
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required />
    <label for="confirmPassword">Confirm Password:</label>
    <input 
      type="password"
      name="confirmPassword"
      id="confirmPassword"
      required />
    
    <button type="submit"class="custom-button">Submit</button>

  </form>
</div>
<p class="page2">Already have an account? <a href="#">Sign in</a></p>
</section>
</body>
</html>
