

<!DOCTYPE html>
<html lang="en">
  <head>
   <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Wellness Tracker App</title>
</head>
  <body>
     </div>
      <nav class="navbar">
         <ul>
         
          <li><a href="/auth/sign-in">Sign In</a></li>
            <li> <a href="/auth/sign-up">Sign Up</a></li>
        </ul>
      </nav>
    </div>
    <h1>Welcome to the Wellness Tracker App
      
    </h1>
    <p>An app to help you build healthy habits.</p>
    <section class="events">
    <div class="row">
      <div class="col">
        <img src="public/stylesheets/images/hydration.jpg"alt="">
        <h2>Hydration</h2>
        <p>Staying hydrated boosts energy, improves focus, aids digestion, and supports healthy skin. It regulates body temperature, prevents headaches, enhances metabolism, and flushes out toxins. Proper hydration also promotes heart health, joint lubrication, and overall well-being for optimal daily performance.</p>

      </div>
      <div class="col">
       <img src="public/stylesheets/images/swimming.jpg"alt="">
        <h4>Activities</h4>
          <p>Swimming boosts overall well-being by improving cardiovascular health, muscle strength, and flexibility while being easy on joints. It reduces stress, enhances mood, and increases lung capacity. This full-body workout promotes endurance and mental clarity, helping prevent chronic diseases and supporting a healthier, more active lifestyle.</p>
          </div>
      </div>
      </section>
    <footer>

      <h3 class="footer_title">CONNECT WITH US</h3>
       <div class="contact_box">
   
  </div>
  </footer>   
       </body>
      </html>
