

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Add a New Form</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
   
    <h1 class="page4">Add a New Form</h1>
   <form  action="/users/<%= user._id%>/forms" method="POST">
<section class = "container">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" />
  
    <label for="age">Age:</label>
    <input type="number" name="age" id="age" />
  
    <label for="healthGoals">Health Goals:</label>
    <textarea name="healthGoals" id="heathGoals"></textarea>
  
    <label for="waterIntake">Water Intake:</label>
    <input type="number" name="waterIntake" id="waterIntake" />
 
    <label for="activities">Activities:</label>
    <select id="activities" name="activities">

      <option value="walking">Walking</option>
      <option value="yoga">Yoga</option>
      <option value="strengthTraining">Strength Training</option>
      <option value="swimming">Swimming</option>
      <option value="hiking">Hiking</option>
      <option value="dancing">Dancing</option>
    </select>
    <button class="custom-button" type="submit">Add a Form</button>
  </form>
</section>
  </body>
</html>
